@import url("https://fonts.googleapis.com/css?family=ABeeZee|Quicksand&display=swap");
:root {
	--black: rgba(10, 18, 42, 1);
	--white: rgba(240, 240, 201, 1);
	--blue: rgb(36, 79, 173);
	--orange: rgba(236, 125, 16, 1);
	--red: rgba(171, 35, 70);
	--yellow: rgba(255, 188, 10, 1);
	--purple: rgba(101, 69, 151);
	--green: rgb(0, 168, 150);
	--bee-font: "ABeeZee", sans-serif;
	--body-font: "Quicksand", sans-serif;
	--sm-pad: 3px;
	--md-pad: calc(2 * var(--sm-pad));
	--lg-pad: calc(3 * var(--sm-pad));
}

body,
html,
h1,
h2,
h3,
p {
	margin: 0;
}

body {
	background-color: var(--yellow);
	font-family: var(--body-font);
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: var(--md-pad);
	box-sizing: border-box;
}

header {
	color: var(--black);
	text-align: center;
}

header h1 {
	margin-top: var(--sm-pad);
	font-family: var(--bee-font);
}

header h3 {
	margin-top: var(--md-pad);
	font-size: 1.1em;
}

h3 span {
	font-style: italic;
}

a {
	color: var(--blue);
	font-weight: bold;
}

.bee-img-container {
	align-self: center;
}

.flex-container.bee-img-container {
	justify-content: space-around;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.column {
	flex-direction: column;
}

.half-width {
	width: 50%;
}

.bee-img {
	max-width: 50%;
}

.sm-pad {
	padding: var(--sm-pad);
}

.md-pad {
	padding: var(--md-pad);
}

.lg-pad {
	padding: var(--lg-pad);
}

.green-text {
	color: var(--green);
}

.red-text {
	color: var(--red);
}

.model-text {
	width: 50%;
}

.result-number {
	color: var(--purple);
}

.result-img {
	max-width: 200px;
	width: 50%;
}

.red-border {
	border-radius: 11px;
	border: 4px solid var(--red);
}

.green-border {
	border-radius: 11px;
	border: 4px solid var(--green);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 200px;
	border: 4px solid var(--black);
	border-radius: 11px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ec7d10' fill-opacity='0.52' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

input {
	display: none;
}

label {
	text-align: center;
	font-weight: bold;
	color: var(--blue);
	text-shadow: 1px 1px 1px var(--white), -1px -1px 1px var(--white), -1px 1px 1px var(--white),
		1px -1px 1px var(--white);
	cursor: pointer;
	display: block;
	transition: color 500ms, text-shadow 500ms;
}

form img:hover + label,
label:hover {
	color: var(--white);
	text-shadow: 1px 1px 1px var(--blue), -1px -1px 1px var(--blue), -1px 1px 1px var(--blue), 1px -1px 1px var(--blue);
}

form img {
	max-width: 75%;
	max-height: 75%;
	display: inline-block;
	cursor: pointer;
}

/* MOBILE-FIRST */

.footer-flex-padding {
	flex-grow: 1;
}

footer {
	text-align: right;
	padding: var(--md-pad);
	display: grid;
	grid-gap: var(--sm-pad);
}
/* DESKTOP  */
